
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}IPTT{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/theme.css?v=1">
</head>
<body>

    <h1>Integrated Project Tracking Tool</h1>

    <nav>
        <a href="/programmes">Programmes</a>
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>